
  	/*selection css Start*/
  	input[type="checkbox"] ~ label .box-text::selection, input[type="radio"] ~ label .box-text::selection{
		background-color: transparent;
		color: rgba(0, 0, 0, 0.55);
  	}
  	input[type="checkbox"] ~ label .box-text::-moz-selection, input[type="radio"] ~ label .box-text::-moz-selection{
		background-color: transparent;
		color: rgba(0, 0, 0, 0.55);
  	}
  	input[type="checkbox"] ~ label::selection, input[type="radio"] ~ label::selection{
		background-color: transparent;
		color: rgba(0, 0, 0, 0.55);
  	}
  	input[type="checkbox"] ~ label::-moz-selection, input[type="radio"] ~ label::-moz-selection{
		background-color: transparent;
		color: rgba(0, 0, 0, 0.55);
  	}
  	/*selection css End*/

  	/*text style and original input hide css Start*/
  	input[type="checkbox"], input[type="radio"]{
		visibility: hidden;
		position: absolute;
  	}
  	input[type="checkbox"] ~ label, input[type="radio"] ~ label{
		display: inline-flex;
  	}
  	input[type="checkbox"] ~ label *, input[type="radio"] ~ label *{
		vertical-align: middle;
  	}
  	input[type="checkbox"] ~ label .box-text, input[type="radio"] ~ label .box-text{
		font-size: 18px;
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
  	}
  	/*text style and original input hide css End*/

  	/*box style css Start*/
  	input[type="checkbox"] ~ label .box, input[type="radio"] ~ label .box {
		height: 25px;
		width: 25px;
		border: 1px solid #cecece;
		margin-right: 14px;
		position: relative;
		display: inline-block;
		background-color: #f6f4f4;
		flex: 0 0 auto;
	}
  	input[type="checkbox"]:checked ~ label .box::before{
		content: url('../images/check.png');
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -55%);
    display: flex;
  	}
  	input[type="radio"]:checked ~ label .box::before{
  		content: '';
  		height: 10px;
  		width: 10px;
  		background-color: #7721b6;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
  	}
  	/*box style css End*/