
label.custom-file-upload {
  cursor: pointer;
  height: 100%;
  left: 0;
  padding: 38px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
.custom-file-upload.ui-state-disabled {
  touch-action: auto !important;
  pointer-events: auto !important;
  cursor: pointer !important;
}
.p_media {
  display: inline-block;
  height: 90px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  width: 117px;
  z-index: 2;
  border: 2px solid #ccc;
  padding: 5px;
}
.product_media {
    margin-bottom: 10px;
}
/* .p_media img {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
} */
.p_media img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.p_media:hover img{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.p_media div.btn-container {
  border: medium none;
  border-radius: 0;
  left: 50%;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: 2;
}
.p_media div.btn-container .btn{
  display: inline;
  width: 37px;
  height: 35px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.p_media div.btn-container .btn:last-child{
  margin-right: 0;
}
.deleteProductMedia {
   /* background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    height: 30px;
    left: 0;
    bottom: -45px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 75px;*/
}
div.product_media .p_media:hover div.btn-container, div.thumb_product_media .p_media:hover div.btn-container {
    opacity: 1;
}
.deleteProductMedia i.fa{
    color: #ffffff;
    font-size: 18px;
}
.deleteProductMedia:hover i.fa{
    color: #FF0000;
}
.imageUpload{
    border: 2px solid #ccc; 
    padding: 15px 15px 10px;
    margin: 0 0 25px;
    min-height: 200px;
    position: relative;
}
.imageUpload .up-msg{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageUpload .up-msg i.fa{
    color: #d9d9d9;
    display: block;
    font-size: 60px;
}
.imageUpload .custom-file-upload span {
    color: #C2BFBF;
    font-size: 14px;
    font-weight: bold;
    display:block;
}

.fileDelete-process {
    background:rgba(0,0,0,0.7) url(../images/del-loader.gif) no-repeat scroll center center ;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.imageUpload .progress {
  border-radius: 15px;
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.avatar-view {
  display: block;
  margin: 15% auto 5%;
  height: 600px;
  width: 600px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.avatar-view img {
  width: 100%;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}
.modal-body .avatar-body ~ img {
  margin: 0 auto;
  display: flex;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 184px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../img/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}